

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-custom {
    background-color: dodgerblue;
    padding: 0rem 0rem;
}

.navbar > div.container > div > ul > li > a:hover {
    background-color: white;
    color: blue !important;
}

.navbar > div.container > div > ul > li > a {
    background-color: dodgerblue;
    color: white;
}

a:link {
    color: blue
}

a:visited {
    background-color: cyan;
}

a:hover {
    background-color: lightgreen;
}

a:active {
    background-color: hotpink;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

img.dllBluLogo {
    width: 40%;
    vertical-align: top;
    margin: 5px 0 5px 0;
}

img.eLiftBluLogo {
    width: 24%;
    vertical-align: top;
    /*margin:5px 0 5px 0;*/
    margin: -10px 0 5px 0;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p.quotepara {
    padding: 0px 0px 0px;
}

h3 {
    padding: 2px 2px 2px;
    background-color: dodgerblue;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
